<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>没啥用的页面</title>
  <style>
    body {
      background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    }

    .content {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      color: #58CFFB;
      
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="content">hey man!</div>
  </div>
</body>

</html>
